$main-color: #333;
$font-color: white;

.footer {
	background-color: $main-color;
	color: $font-color;
	width: 90%;
	height: 200px;
	margin: 2% auto;
	display: flex;
	justify-content: space-around;
}
.links {
	height: 100%;
	width: 40%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo {
	display: flex;
	align-self: center;
	margin: auto;
}
.side{
	width: 15%;
	margin: auto;
	display: flex;
	align-items: center;
}
.side span{
	font-weight: bold;
}