.search-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: auto;
  
  > div {
    display: flex;
    flex-direction: row;
    .description {
      height : 100px;
      overflow:hidden;
      display:inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.button {
  background-image: linear-gradient(to right,#f05a28,#e80a89);
}

